:root {
  --background-color-primary: black;
  --background-color-secondary: salmon;
  --background-color-tertiary: mediumpurple;
  --heading-color: white;
  font-size: 10px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 60px;
  background-color: var(--background-color-secondary);
}

header {
  padding: 0px;
  width: 100vw;
  background-color: var(--background-color-primary);
  top: 0px;
  position: fixed;
  margin: 0px;
}

.header__heading {
  font-size: 3rem;
  text-align: center;
  color: var(--heading-color);
}

.header__subheading {
  font-size: 1rem;
  text-align: center;
  color: var(--heading-color);
}

section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  display: flex;
}

.card {
  background-color: var(--background-color-tertiary);
  border-radius: 20px;
  padding: 10px;
}

.card__question {
  text-align: center;
}
